<script type="text/javascript">

data = new Array();
{section name=sec loop=$pages}
data[{$smarty.section.sec.index}] = new Array('{$pages[sec].user_id}','{$pages[sec].id}','{$pages[sec].updated_at}');
{/section}

// alert(data[0][0]);  : this gives the first value of the first line of the array :-)

{literal}
function mass_check(a) {
	for(i in data) {
		if (data[i][0] == a) {
			document.zeform["reverse_"+data[i][1]].checked = true;
			}
		}
	}
{/literal}
</script>

<p>Cette page vous permet d'effectuer un retour en arrière sur les pages du wiki qui sont actuellement consultables : la version actuelle sera supprimée et remplacée par la dernière version archivée. Cette manipulation est irréversible et uniquement accessible aux administrateurs. Elle est à utiliser si un vandale a mis des bétises sur votre wiki.</p>

<p><strong>Astuce :</strong> en cliquant sur le nom de l'utilisateur, vous cochez toutes les pages que cette personne a modifiées.</p>

<p>Il existe aussi une page pour <a href="{$wiki.url}arch_delete">faire le ménage dans les archives</a>.</p>

<form action="{$wiki.url}reverse" method="post" name="zeform">
	<input type="hidden" name="do_it" value="{'Hmyd'|date|xss_armor}" />
	<table>
		<tr>
			<th colspan="4">Pages en ligne</th>
		</tr>
		<tr>
			<th></th>
			<th>adresse - modification</th>
			<th>date</th>
			<th>utilisateur</th>
		</tr>
	{section name=sec loop=$pages}
		<tr valign="top">
			<td><input type="checkbox" name="reverse_{$pages[sec].id}" value="{$pages[sec].updated_at}" /></td>
			<td><a href="{$wiki.url}{$pages[sec].name}" title="{$pages[sec].title}" class="backlink">/{$pages[sec].name}</a>
				<div class="edit_desc">{$pages[sec].edit_desc}</div>
				</td>
			<td>{$pages[sec].updated_at|substr:5:20|truncate:11:"":true|replace:':':'h'|replace:' ':'&nbsp;'}</td>
			<td align="center"><a href="javascript:mass_check('{$pages[sec].user_id}');" style="color:black;">{$pages[sec].author_name|truncate:18:"...":true}</a></td>
		</tr>
	{/section}
		<tr>
			<td colspan="4"><input type="submit" value="revenir à la version précédente" /></td>
		</tr>
	</table>
</form>
	
