<form action="{$wiki.url}search" method="get" id="wiki_search_form_top">
	Rechercher : <input name="q" value="{$page.q}" />
	<input type="submit" value="Go" />
</form>


{if $pages}

	<ol>
		{section name=sec loop=$pages}
			<li><strong><a href="{$wiki.url}{$pages[sec].name}">{$pages[sec].title}</a></strong><br />
			{$pages[sec].content|strip_tags|truncate:250}<br />
			<a href="{$wiki.url}{$pages[sec].name}">{$wiki.url}{$pages[sec].name}</a>
			<br />&nbsp;
			</li>
		{/section}
	</ol>

	<form action="{$wiki.url}search" method="get" id="wiki_search_form_bottom">
		Rechercher : <input name="q" value="{$page.q}" />
		<input type="submit" value="Go" />
	</form>

{else}
	{if $page.q}
		<p>Aucune page trouvée.</p>
	{else}
		<p>Utilisez ce formulaire pour rechercher des pages du wiki.</p>
	{/if}
{/if}

