<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xml:lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$conf.flag} | {$page.title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<base href="{$conf.url}" />
	<link rel="stylesheet" href="ffw/style.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body class="body_email">

	<div id="page">
		<h1>{$page.title}</h1>
		{$page.content}
	</div>

</body>
</html>

